main.aux
main.log
main.nav
main.snm
main.toc
main.vrb
main.out
main.bbl
main.blg
article.aux
article.idx
article.log
article.log
article.out
article.toc
article.tcp
article.tps
handout.aux
handout.log
handout.nav
handout.out
handout.snm
handout.toc
handout.vrb
handout.tcp
handout.tps
slides.aux
slides.log
slides.nav
slides.out
slides.snm
slides.toc
slides.vrb
slides.tcp
slides.tps
chapter.aux
/slides/ubuntu-latex-fonts-master/
/code/choco/sendmore/target/
/code/choco/sudoku/target/
/code/choco/nqueen/target/
/code/choco/sendmore/.idea/
/code/choco/sudoku/.idea/
/code/choco/nqueen/.idea/
